.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
  --bs-nav-underline-link-active-color: black;
  font-weight: normal;
  font-style: italic;
}

.navbar{
  background-color: rgb(5,143,178);
  color: black;
}

.log-in{
  background-color: rgb(200,217,205);
  border-color:  rgb(200,217,205);
  color: black;
}

.log-in:hover{
  border-color:  rgb(200,217,205);
  color: black;
}

.get-started{
  background-color: rgb(249, 174, 51);
  border-color:  rgb(249, 174, 51);
  color: black;
  font-weight: bold
}
